<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Cart</title>
</head>
<style>
    a{
        text-decoration: none;
        color: white;
    }
</style>
<body >
    <div class = "container" >
        <h2 align="center"> Cart | Your Orders </h2>
        {% if detail != "No records found"%}
            <h4 align="center" class="msg">
                <strong>{{msg}}</strong>
            </h4>
            <br>
        
        {% if detail %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Outlet Name</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in detail %}
                    <tr>
                        <td> {{u['resname']}} </td>
                        <td> {{u['item']}} </td>
                        <td> {{u['quantity']}} </td>
                        <td> {{u['price']}} </td>
                        <td> {{ u['quantity'] * u['price'] }} </td>
                        <td> 
                            <button class="btn btn-dark">
                                <a href="{{url_for('increase',id=u['orderid'])}}">
                                    +
                                </a>
                            </button>
                            <button class="btn btn-dark">
                                <a href="{{url_for('reduce',id=u['orderid'])}}">
                                    -
                                </a>
                            </button>
                            <button class="btn btn-danger">
                                <a href="{{url_for('deleteorder',id=u['orderid'])}}">
                                    Remove Item
                                </a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%endif%}
        {%else%}
        <div> 
            <h4 align="center" class="msg">
                <strong>{{detail}}</strong>
            </h4>
        </div>  
        {%endif%}

    </div>
    <div align="center">
        <button class="btn btn-success"> <a href="{{url_for('confirmorder')}}"> Confirm Order </a></button>
    </div>
   
</body>
</html>